.app-ceil {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: consolas;
  font-weight: 700;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  transition: all 0.3s;
}

.app-ceil:hover {
  cursor: pointer;
  color: rgb(141, 141, 141)
}

.no-opacity {
  transition: all 0.6s;
  opacity: 0;
}

.chosen-ceil {
  background-color: lightblue;
}